.menu-img {
    width: 30px;
    margin-right: 10px;
}

.items {
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffff;
}

.menu {
    text-align: center;
}

.menu h1 {
    font-size: 40px;
}

.menu-items{
    margin: 0 10px 0 10px;
    display: inline-block;
    width: -webkit-fill-available;
}

.arrow-icon{
    width: 30px;
    margin-left: auto;
}

.items-name {
    font-size: 30px;
}